(
    max_ray_depth: 4,
    sky_color: (
        x: 0.529,
        y: 0.808,
        z: 0.98
    ),
    objects: [
        Max(
            Sphere(
                center: (x: 0, y: 0, z: 2),
                radius: 0.5,
                material: "main_circle"
            ),
            Inv(Box(
                lower_corner: (x: -0.15, y: -0.15, z: 1.45),
                upper_corner: (x: 0.15, y: 0.15, z: 2.55),
                material: "main_circle_interior"
            ))
        ),
        Box(
            lower_corner: (x: -5, y: -5, z: 5),
            upper_corner: (x: 5, y: 5, z: 5.5),
            material:"background_wall"
        ),
        Box(
            lower_corner: (x: -5, y: 0.5, z: 0),
            upper_corner: (x: 5, y: 1.5, z: 5.5),
            material:"red_mirror"
        ),
        Sphere(
            center: (x: 0.5, y: 0, z: 1),
            radius: 0.25,
            material: "light"
        ),
        Smooth(
            objects: [
                Torus(
                    major_radius: 0.5,
                    minor_radius: 0.2,
                    center: (x: 0, y: -1, z: 2.5),
                    material: "torus"
                ),
                Sphere(
                    center: (x: 0.65, y: -1, z: 2.5),
                    radius: 0.5,
                    material: "main_circle_interior"
                )
            ],
            alpha: -4.0,
        )
    ],
    materials: {
        "main_circle": (
            color: (x: 1, y: 1, z: 0),
            emitance: (x: 0 ,y: 0, z: 0),
            metalness: 0,
            roughness: 0.1
        ),
        "main_circle_interior": (
            color: (x: 0, y: 1, z: 1),
            emitance: (x: 0, y: 0, z: 0),
            metalness: 0,
            roughness: 0.75
        ),
        "light": (
            color: (x: 0, y: 0, z: 0),
            emitance: (x: 100, y: 100, z: 100),
            metalness: 0,
            roughness: 0.01
        ),
        "red_mirror": (
            color: (x: 1, y: 0, z: 0),
            emitance: (x: 0, y: 0, z: 0),
            metalness: 1,
            roughness: 0.02
        ),
        "background_wall": (
            color: (x: 0, y: 1, z: 0),
            emitance: (x: 0, y: 0, z: 0),
            metalness: 0,
            roughness: 0.7
        ),
        "torus": (
            color: (x: 1, y: 0, z: 1),
            emitance: (x: 0, y: 0, z: 0),
            metalness: 0,
            roughness: 0.75
        )
    }
)
